alembic==1.0.11
alipay==0.7.4
certifi==2018.10.15
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
enum34==1.1.9
Flask==0.10.1
Flask-Migrate==2.5.2
Flask-MySQLdb==0.2.0
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
gevent==1.3.7
greenlet==0.4.15
gunicorn==19.9.0
idna==2.7
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.0
MarkupSafe==1.1.1
mysqlclient==1.3.13
Pillow==5.3.0
pycparser==2.19
pycryptodomex==3.7.2
pyOpenSSL==19.1.0
python-alipay-sdk==1.10.1
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.3
qiniu==7.2.2
redis==2.10.5
requests==2.20.0
six==1.12.0
SQLAlchemy==1.3.6
urllib3==1.24
Werkzeug==0.15.5
WTForms==2.2.1
